    .text-judul {
        font-weight: bold;
        font-size: 30px;
        line-height: 50px;
        color: black;
        margin-top: 30px;
    }
    
    table img {
        max-width: 80px;
        float: right;
    }
    
    table button {
        background-color: rgb(36, 169, 240);
        border: 0;
        border-radius: 30px;
        padding: 10px;
        width: 100px;
        font-weight: bold;
        box-shadow: 2px 2px 2px rgba(11, 113, 169, 0.8);
    }
    
    table button:hover {
        background-color: rgb(23, 238, 163);
        color: rgb(73, 9, 202);
        box-shadow: 2px 2px 2px rgba(0, 208, 255, 0.8);
    }
    
    table button img {
        max-width: 20px;
        float: left;
    }
    
    table h6 {
        margin-top: -19px;
    }
    
    table h4 {
        font-weight: bold;
        font-size: 20px;
        color: rgb(178, 13, 243);
    }
    
    .card1 {
        background-color: rgb(219, 242, 242);
        border-radius: 20px;
    }
    
    .total {
        color: rgb(0, 38, 255);
        font-weight: bold;
        font-size: 30px;
    }
    
    .card1 button {
        background-color: aqua;
        border: 0;
        border-radius: 20px;
        color: rgb(39, 40, 41);
        font-weight: bold;
        padding: 12px;
        width: 160px;
    }
    
    .card1 button:hover {
        background-color: rgb(152, 94, 206);
        color: antiquewhite;
    }
    
    .card1 button img {
        max-width: 30px;
    }
    
    input {
        position: relative;
        display: inline-block;
        font-size: 20px;
        box-sizing: border-box;
        transition: .5s;
    }
    
    input[type="text"] {
        background: #fff;
        width: 190px;
        height: 40px;
        border: none;
        outline: none;
        padding: 0 25px;
        border-radius: 25px 0 0 25px;
    }
    
    input[type="submit"] {
        background: rgb(10, 229, 236);
        width: 100px;
        height: 40px;
        border: none;
        outline: none;
        cursor: pointer;
        left: -5px;
        border-radius: 0 25px 25px 0;
    }
    
    input[type="submit"]:hover {
        background-color: rgb(180, 209, 49);
    }
    
    input[type="submit"] img {
        max-width: 20px;
    }
    /* .total h4 {
    font-weight: bold;
    color: black;
}

.harga {
    font-weight: bold;
    color: rgb(15, 11, 238);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */