@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');
body {
    background-image: linear-gradient(-225deg, #20f9b8 0%, #7874f7 100%);
    background-image: linear-gradient(to top, #a8edea 0%, #6ca4f9 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Vibur', cursive;
    font-family: 'Times New Roman', Times, serif;
    opacity: .95;
    /* background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%); */
}

.navbar-5 {
    padding-top: 10px;
}

.form1 {
    width: 40%;
    min-height: 500px;
    height: auto;
    border-radius: 5px;
    margin: 2% auto;
    box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
    padding: 2%;
    background-image: linear-gradient(-225deg, #72c7f8 50%, #7283f6 50%);
}

@media screen and (max-width: 600px) {
    .form1 {
        width: 90%;
        min-height: 500px;
        height: auto;
        border-radius: 5px;
        margin: 2% auto;
        box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
        padding: 2%;
        background-image: linear-gradient(-225deg, #72c7f8 50%, #7283f6 50%);
    }
}


/* form Container */

.form1 .con {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 auto;
}


/* the header form form */

.head-form {
    margin: 2% auto 10% auto;
    text-align: center;
}


/* Login title form form */

.head-form h2 {
    font-size: 250%;
    font-family: 'Playfair Display', serif;
    color: #3e403f;
}

.head-form p {
    letter-spacing: 0.05em;
}

.input-item {
    background: #fff;
    color: #333;
    padding: 14.5px 0px 15px 9px;
    border-radius: 5px 0px 0px 5px;
}

#eye {
    background: #fff;
    color: #333;
    margin: 5.9px 0 0 0;
    margin-left: -20px;
    padding: 15px 9px 19px 0px;
    border-radius: 0px 5px 5px 0px;
    float: right;
    position: relative;
    right: 1%;
    top: -.2%;
    /* z-index: 1; */
    cursor: pointer;
}


/* inputs form  */

input[class="form-input"] {
    width: 250px;
    height: 47px;
    margin-top: 2%;
    padding: 15px;
    font-size: 16px;
    font-family: 'Abel', sans-serif;
    color: #5E6472;
    outline: none;
    border: none;
    border-radius: 0px 5px 5px 0px;
    transition: 0.2s linear;
}

input[id="txt-input"] {
    width: 250px;
}

input:focus {
    transform: translateX(-2px);
    border-radius: 5px;
}

.login-button button {
    display: inline-block;
    color: #252537;
    width: 280px;
    height: 50px;
    padding: 0 20px;
    background: #fff;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
    margin: 7% auto;
    letter-spacing: 0.05em;
}


/* Submits */

.submits {
    width: 48%;
    display: inline-block;
    float: left;
    margin-left: 2%;
}


/*       Forgot Password button FAF3DD  */

.frgt-pass {
    background: transparent;
}


/*     Sign Up button  */

.sign-up {
    background: #B8F2E6;
}


/* buttons hover */

.login-button button:hover {
    transform: translatey(3px);
    box-shadow: none;
}


/* buttons hover Animation */

.login-button button:hover {
    animation: ani9 0.4s ease-in-out infinite alternate;
}


/* ====== */

body {
    height: 100vh;
    /* background-image: url(https://dosenit.com/wp-content/uploads/2020/10/Gunung-Fuji-Jepang-1024x640-1.jpg); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

p {
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding-top: 10px;
}

h1 {
    text-align: center;
    padding-left: 100px;
    padding-bottom: 20px;
}

a {
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.registrasi {
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    left: -100vw;
    transition: 0.5s;
}

.container {
    position: absolute;
    padding: 20px 25px;
    width: 400px;
    margin-top: 100px;
    background-color: rgb(29, 39, 39);
    box-shadow: 0 0 10px rgba(255, 255, 255, .3);
    z-index: 4;
    border-radius: 10px;
}

.container h1 {
    text-align: left;
    color: #fafafa;
    margin-bottom: 10px;
    text-transform: uppercase;
    border-bottom: 4px solid #752BEA;
}

.container label {
    text-align: left;
    color: #90caf9;
}

.container form input {
    width: calc(100% - 20px);
    padding: 5px 8px;
    margin-bottom: 15px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #752BEA;
    color: #fff;
    font-size: 15px;
}

.container form .daftar button {
    width: 100%;
    height: 40px;
    padding: 5px 0;
    border: none;
    background-color: #752BEA;
    font-size: 18px;
    color: #fafafa;
    border-radius: 20px;
}

.registrasi .container .google button {
    border-radius: 50%;
    border: none;
}

.registrasi .container .google button img {
    max-width: 30px;
}

.registrasi .container .google button img:hover {
    transform: scale(1.09);
    transition: 0.5s;
}

.container .close img {
    max-width: 30px;
    float: right;
    display: block;
}

.container .close img:hover {
    transform: scale(1.5);
    transition: .5s;
}

@keyframes ani9 {
    0% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(5px);
    }
}

@media (max-width:450px) {}